<div class="center-block">
	<h1>Your challenge have been successfully Submitted...</h1><br />
	<span>Once the challenge is completed the winner and score will available.</span><br />
	<label>Click here to view completed challenges-<%= link_to "View Completed",challenge_completed_challenges_path, :class => "btn btn-success"%></label>
</div>